<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="testnavigator.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="testnavigator.Perspective"
            id="testnavigator.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="testnavigator.ContentProvider"
            id="testnavigator.navigatorContent1"
            labelProvider="testnavigator.LabelProvider"
            name="name">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IWorkspaceRoot">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="testnavigator.mode.IProjectStructure">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="testnavigator.NewActionProvider"
            id="testnavigator.NewAction">
         <enablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="testnavigator.DeleteActionProvider"
            id="testnavigator.DeleteAction">
         <enablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof></enablement>
      </actionProvider>
      <actionProvider
            class="testnavigator.OtherActionProvider"
            id="testnavigator.OtherAction">
         <enablement>
            <or>
               <adapt
                     type="java.lang.String">
               </adapt>
            </or></enablement>
      </actionProvider>
      <commonWizard
            type="new"
            wizardId="testnavigator.newproject.wizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="testnavigator.newfolder.wizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="testnavigator.newfile.wizard">
         <enablement></enablement>
      </commonWizard>
      <actionProvider
            class="testnavigator.OpenActionProvider"
            id="testnavigator.OpenAction">
         <enablement>
            <or>
               <adapt
                     type="testnavigator.mode.FileNode">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="testnavigator.view1">
         <popupMenu
               allowsPlatformContributions="true"
               id="testnavigator#PopupMenu">
            <insertionPoint
                  name="group.open">
            </insertionPoint>
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.port">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="testnavigator.view1">
         <includes>
            <contentExtension
                  pattern="testnavigator.navigatorContent1">
            </contentExtension>
            <contentExtension
                  pattern="testnavigator.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="testnavigator.view1">
         <includes>
            <actionExtension
                  pattern="testnavigator.DeleteAction">
            </actionExtension>
            <actionExtension
                  pattern="testnavigator.NewAction">
            </actionExtension>
            <actionExtension
                  pattern="testnavigator.OtherAction">
            </actionExtension>
            <actionExtension
                  pattern="testnavigator.OpenAction">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="testnavigator.MyView"
            id="testnavigator.view1"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="testnavigator.perspective">
         <view
               id="testnavigator.view1"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="testnavigator.opencommand"
               label="Open"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="testnavigator.linkhelper.MyResourceLinkHelper"
            id="testnavigator.linkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.ui.IFileEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof></selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            default="false"
            id="testnavigator.editor"
            name="FileEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="testnavigator.category"
            name="test">
      </category>
      <wizard
            category="testnavigator.category"
            class="testnavigator.wizard.NewProjectWizard"
            id="testnavigator.newproject.wizard"
            name="New Project">
      </wizard>
      <wizard
            category="testnavigator.category"
            class="testnavigator.wizard.NewFolderWizard"
            id="testnavigator.newfolder.wizard"
            name="New Folder">
      </wizard>
      <wizard
            category="testnavigator.category"
            class="org.eclipse.ui.wizards.newresource.BasicNewFileResourceWizard"
            id="testnavigator.newfile.wizard"
            name="New File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="testnavigator.ResourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
